<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="menu-content glass-background">
  <div class="overlay"></div>

  <div class="grid-container">
    <div class="glass-card" *ngFor="let plato of platos">
      <img [src]="plato.imageUrl || 'assets/default.jpg'" class="card-image" />

      <div class="card-text">
        <h2>{{ plato.name }}</h2>
        <h3>${{ plato.price | number: '1.2-2' }}</h3>
        <p>{{ plato.description }}</p>
        <ion-button expand="block" color="success" (click)="agregarAlCarrito(plato)">
          Agregar al carrito
        </ion-button>
      </div>
    </div>
  </div>

  <div class="floating-button-wrapper">
    <ion-button color="warning" class="floating-button" [routerLink]="['/cart-client']">
      Ir al carrito
    </ion-button>
  </div>
</ion-content>
