<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let plato of platos">
    <ion-img [src]="plato.imageUrl || 'assets/default.jpg'"></ion-img>

    <ion-card-header>
      <ion-card-title>{{ plato.name }}</ion-card-title>
      <ion-card-subtitle
        >${{ plato.price | number: '1.2-2' }}</ion-card-subtitle
      >
      <ion-card-content>{{ plato.description }}</ion-card-content>
    </ion-card-header>

    <ion-card-content>{{ plato.descripcion }}</ion-card-content>

    <ion-button expand="block" (click)="agregarAlCarrito(plato)"
      >Agregar al carrito</ion-button
    >
  </ion-card>

  <ion-button expand="full" [routerLink]="['/cart-client']"
    >Ir al carrito</ion-button
  >
</ion-content>
