<!-- <ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      {{ isLoginMode ? 'Iniciar Sesión' : 'Registrarse' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <div class="blur-background"></div>
  
  <div class="auth-container">
    <ion-segment [(ngModel)]="isLoginMode" color="dark">
      <ion-segment-button value="true">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="false">
        <ion-label>Register</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="form-container">
      <app-login *ngIf="isLoginMode"></app-login>
      <app-register *ngIf="!isLoginMode"></app-register>
    </div>
  </div>
</ion-content> -->