<ion-content class="dark-theme">
  <div class="login-background">
    <div class="login-overlay"></div>

    <div class="login-container">
      <div class="login-header">
        <h1>Bienvenido</h1>
      </div>

      <form [formGroup]="loginForm" class="login-form">
        <ion-item lines="none" class="form-item">
          <ion-button slot="start" fill="clear" color="dark">
            <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
          </ion-button>

          <ion-input
            label="Correo Electrónico"
            labelPlacement="floating"
            placeholder="tucorreo@ejemplo.com"
            type="email"
            formControlName="email"
            class="custom-input"
            mode="md"
            required
          >
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="form-item">
          <ion-button slot="start" fill="clear" color="dark">
            <ion-icon slot="icon-only" name="key-outline"></ion-icon>
          </ion-button>

          <ion-input
            label="Contraseña"
            labelPlacement="floating"
            placeholder="Ingresa tu contraseña"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="custom-input"
            mode="md"
            required
          >
          </ion-input>

          <ion-button
            fill="clear"
            slot="end"
            (click)="togglePassword()"
            color="dark"
          >
             <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-button
          expand="block"
          shape="round"
          class="login-button"
          (click)="login()"
        >
          Iniciar Sesión
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>

        <div class="login-footer">
          <p>¿No tienes cuenta?</p>
          <a
            href="#"
            (click)="goToRegister(); $event.preventDefault()"
            class="signup-link"
            >Regístrate</a
          >
        </div>
      </form>
    </div>
  </div>
</ion-content>
