<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background-image"></div>

  <h2 class="section-title">Resumen</h2>

  <ion-card class="custom-card">
    <ion-card-content>
      <div class="stat-item">
        <span>Total de pedidos asignados:</span>
        <strong>{{ stats.total }}</strong>
      </div>
      <div class="stat-item">
        <span>Pedidos entregados:</span>
        <strong>{{ stats.delivered }}</strong>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
