<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/users-form" expand="block" color="primary">
    Go to Users Form
  </ion-button>

  <ion-button routerLink="/motorcyclists-form" expand="block" color="secondary">
    Go to Motorcyclists Form
  </ion-button>

  <ion-button routerLink="/restaurants-form" expand="block" color="tertiary">
    Go to Restaurants Form
  </ion-button>
</ion-content>
