<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/users-form" expand="block" color="primary">
    Users 
  </ion-button>

  <ion-button routerLink="/motorcyclists-form" expand="block" color="secondary">
    Motorcyclists 
  </ion-button>

  <ion-button routerLink="/restaurants-form" expand="block" color="tertiary">
    Restaurants 
  </ion-button>
</ion-content>
